.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(6, 0, 0);
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div {
  border: 0px solid pink;
}

.search-bar {
  padding-left: 8px;
  color: white;
  margin-bottom: 60px;
  align-self: center;
  width:60%;
  background-color:rgb(44, 6, 6);
  opacity:0.8;
  height: 25px;
  border-radius: 20px;
  border: 1px solid rgb(127, 95, 95);
}


input::placeholder {
  text-align: center;
  color: rgb(255, 255, 255);
  opacity: 0.8;

}

.movie-container {
  display : flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-content: flex-start;
}

.footer {
  padding: 20px
}

.previous-page-button {
  width: 0;
  height: 0;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  border-right: 35px solid #9d2020;
  border-left: 0px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  margin: 0px;
  padding: 0px;


}

.next-page-button {
  width: 0;
  height: 0;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  border-left: 35px solid #9d2020;
  border-right: 0px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  margin: 0px;
  padding: 0px;

}


.previous-page-button:hover {
  width: 0;
  height: 0;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  border-right: 35px solid #1d0a0a;
  border-left: 0px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  margin: 0px;
  padding: 0px;
}

.next-page-button:hover {
  width: 0;
  height: 0;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  border-left: 35px solid #1d0a0a;
  border-right: 0px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  margin: 0px;
  padding: 0px;
}