
div {
    border: 0px solid pink;
}


.details {
    display: flex;
    border-radius: 40px;
    background-color: rgb(26, 4, 4);
    margin: 5%;
}

.details-image-container {
display: flex;
justify-content:center;
align-content: space-around;
align-items:center ;
flex-direction: column;

}

.details-image {
    height: 400px;
    margin: 30px;
    padding-left: 20%;
}
.details-right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center; 
    }

    
.details-info-container {
display: flex;
flex-direction: column;
justify-content: space-around;
align-content: center;
padding-left:10%;
padding-right: 20%;

}



.details-title {
    text-align: center;
    font-size: 40px;   
    font-weight: 900;
    font-variant: small-caps;
    margin-bottom: 10px;
    

}

.details-date {
    text-align: center;
    font-size: 12px;
    margin-bottom: 5px;
}

.details-genre {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.details-description {
    text-align: center;
    font-size: 18px;
}

.details-duration {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
}

.button-container {
    display:flex;
    justify-content: center;
    padding-right: 20%;
    padding-left: 10%;
    padding-bottom: 12px;

}

.Like {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    margin-right: 50px;

}

.like-icon:hover {
    color: green;
}

.dislike-icon:hover {
    color: red;
}
.Dislike {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background-color: transparent;

}

.dislike-icon:hover {
    color: red;
}