

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(26, 4, 4);
    height: 60%;
}

.details-image-container {
display: flex;
justify-content:center;
align-content: space-around;
align-items:center ;
flex-direction: column;
width: 50%;
padding: 0%;
margin: 0px;

}

.details-image {
  margin:0px;
}
.details-right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    
    }

    
.details-info-container {
display: flex;
flex-direction: column;
justify-content: space-around;
align-content: center;
width: 40%;
padding-left:10%;
padding-right: 10%;

}







.details-title {
    text-align: center;
    font-size: 40px;   
    font-weight: 900;
    font-variant: small-caps;
    

}

.details-date {
    text-align: center;
    font-size: 12px;
}

.details-genre {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.details-description {
    text-align: center;
    font-size: 18px;
}

.details-duration {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.button-container {
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.Like {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    margin-right: 50px;

}

.like-icon:hover {
    color: green;
}

.dislike-icon:hover {
    color: red;
}





.Dislike {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background-color: transparent;

}

.dislike-icon:hover {
    color: red;
}